In [1]:
import pandas as pd

Scrape the page https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, using pandas

In [18]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
can_list = pd.read_html(url, header = 0)

The list ```can_list``` has three elements

In [19]:
len(can_list)

3

First element of ```can_list``` is the table we want

In [20]:
df = can_list[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Columns' names

In [21]:
df.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

Drop rows with ```'Borough' == 'Not assigned'```

In [31]:
postal = df[df.Borough != 'Not assigned']
postal.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Change name of column ```'Postal Code'``` by ```'Postal_Code'```

In [32]:
postal.columns = postal.columns.str.replace(' ', '_')
postal.columns

Index(['Postal_Code', 'Borough', 'Neighbourhood'], dtype='object')

In [33]:
postal.shape

(103, 3)

Duplicated postal codes

In [34]:
postal.groupby(postal['Postal_Code'].tolist()).size()

M1B    1
M1C    1
M1E    1
M1G    1
M1H    1
      ..
M9N    1
M9P    1
M9R    1
M9V    1
M9W    1
Length: 103, dtype: int64

In [35]:
postal.shape

(103, 3)